@use '../../styles/globals.scss' as *;

.todoList-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todoList-container-ul {
  list-style: none;
  width: 85%;
}

@media screen and (min-width: 600px) {
  .todoList-container {
    max-width: 800px;
    margin: 0 auto;
  }
}
