@use '../../styles/globals.scss' as *;

.todoCounter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 20px;
}

.todoCounter-container_text {
  font-size: 16px;
  font-weight: bold;
  color: $light-color;
}

.todoCounter-container_separator {
  background-color: $white;
  height: 4px;
  width: 90%;
  margin-top: 20px;
  border-radius: 8px;
}

@media screen and (min-width: 600px) {
  .todoCounter-container_separator {
    max-width: 800px;
    margin: 20px auto 0;
  }
}