@use '../../styles/globals.scss' as *;

.addNewTask-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-color;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

